<div class="row mt-5 justify-content-end">
  <div class="col-8">
    <h2 class="">Dettagli Progetto</h2>
  </div>
  <div class="col text-right">
    <button class="btn btn-link" routerLink="/projects">Torna a Progetti</button>
  </div>
</div>

<div class="jumbotron" *ngIf="project$ | async as project">
  <h1 class="display-4">{{project.name}}</h1>
  <p class="lead">{{project.description}}</p>
  <hr class="my-4">
  <p>
    <span>Codice: {{project.code}} - Data Inizio: {{project.start | date:'dd/MM/yyyy'}}</span>
    <span *ngIf="project.end">- Data Fine: {{project.end | date:'dd/MM/yyyy'}}</span>
  </p>
</div>