<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NG Project Tracking Tool</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Progetti</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <ngptt-project></ngptt-project>
</div>