<div class="row">
    <div class="col">
        <input class="form-control" name="projectName" placeholder="cerca progetto" #filterName (input)='search()'  />
    </div>
    <div class="col">
        <select class="form-control" #filterPriority (input)='search()'>
            <option></option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
    </div>
    <div class="col">
        <select class="form-control" #filterDone (input)='search()'>
            <option></option>
            <option value="true">Done</option>
            <option value="false">In progress</option>
        </select>
    </div>
</div>