<ngptt-section-header [title]="'I miei progetti'" [button]="{ label: 'Torna ad Home', link: '/', type: 'btn-primary' }"></ngptt-section-header>
<ng-container *ngIf="(projectService.getAll() | async) as projects">
    <ngptt-project-list 
        *ngIf="projects.length > 0 ; else noProjects"
        [projects]="projects
                        | searchFilter:'name':searchedProject?.name
                        | searchFilter:'priority':searchedProject?.priority
                        | searchFilter:'done':searchedProject?.done"
        (selected)="selectProject($event)">
    </ngptt-project-list>
</ng-container>
<hr>
<ngptt-project-form [quickMode]="true" (submitted)="addProject($event)"></ngptt-project-form>

<ng-template #noProjects>
    <p>Non è presente nessun progetto</p>
</ng-template>