<div class="row mt-5 justify-content-end">
    <div class="col-8">
        <h2 class="">I miei progetti</h2>
    </div>
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/">Torna ad Home</button>
    </div>
</div>
<hr />
<ngptt-project-list 
    *ngIf="projects?.length > 0 ; else noProjects"
    [projects]="projects
                    | searchFilter:'name':searchedProject?.name
                    | searchFilter:'priority':searchedProject?.priority
                    | searchFilter:'done':searchedProject?.done"
    (selected)="selectProject($event)">
</ngptt-project-list>
<hr>
<ngptt-project-form (submitted)="addProject($event)"></ngptt-project-form>

<ng-template #noProjects>
    <p>Non è presente nessun progetto</p>
</ng-template>