<div>
    <h2>I miei progetti</h2>
    <hr />
    <ngptt-project-search (searching)="searchProject($event)"></ngptt-project-search>
</div>
<hr />
<ngptt-project-list 
    *ngIf="projects?.length > 0 ; else noProjects"
    [projects]="projects
                    | searchFilter:'name':searchedProject?.name
                    | searchFilter:'priority':searchedProject?.priority
                    | searchFilter:'done':searchedProject?.done"
    (selected)="selectProject($event)">
</ngptt-project-list>
<hr />
<ngptt-project-detail [project]="selectedProject"></ngptt-project-detail>
<hr>
<ngptt-project-form (submitted)="addProject($event)"></ngptt-project-form>

<ng-template #noProjects>
    <p>Non è presente nessun progetto</p>
</ng-template>