<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">NG Project Tracking Tool</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/projects">Progetti</a>
            </li>
        </ul>
    </div>
</nav>